.pricing {

  max-width: 105.2rem;
  width: 100%;
  margin: 0 auto;
  padding-top:$large;

  &__options{
    @include lg {
      display: flex;
      align-items: center;
    }
  }

  &__items{
    flex-grow: 1;
    border-radius: 1rem;

    @include lg {
      &--is-left{
        border-radius: 1rem 0 0 1rem;
      }
  
      &--is-right{
        border-radius: 0 1rem 1rem 0;
      }
    }
  }

  &__item {
    font-weight: 700;
    padding: 1.9rem 0;

    &--is-large{
      font-size: 7.1rem;
      padding: 0 0 3rem;
      color: $text-color-dark;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--has-btn{
      padding-top: $medium;
    }

    &--large {
      font-size: 1.8rem;
    }
  }

  &__switch {
    display: flex;
    justify-content: space-between;
    max-width: 23.9rem;
    align-items: center;
    margin: 0 auto $large;
  }

  &__text{
    font-weight: 700;
    color:$light;
  }
}