*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; 
}

body {
  font-size:1.5rem;
  font-family: 'Montserrat', sans-serif;
  color:$text-color-light;
  background-color:$background;
  background-image:   url('/images/bg-top.svg');
  background-position: right top;
  background-repeat: no-repeat;
  min-height: 100vh;

  @include lg {
  background-image:     url('/images/bg-top.svg'),
                        url('/images/bg-bottom.svg');
  background-position:  right top,
                        left bottom;
  }
}

.main {
  padding:0 2.4rem;
  text-align: center;
}