//COLORS
$primary:           hsl(236, 72%, 79%);
$secondary:         hsl(237, 63%, 64%);

$background:        hsl(240, 78%, 98%);
$light:             hsl(234, 14%, 74%);
$text-color-light:  hsl(233, 13%, 49%);
$dark:              hsl(232, 13%, 33%);


//SPACING
$small:             2.1rem;
$medium:            3.1rem;
$large:             4.1rem;
$extra-large:       8.2rem;


//BREAKPOINTS
$screen-sm-min:     576px;
$screen-md-min:     768px;
$screen-lg-min:     992px;
$screen-xl-min:     1300px;
